__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
.env.*
.DS_Store
.vscode/
.idea/
*.egg-info/
logs/
!indian_law_vector_store/
*.ipynb_checkpoints/
*.bak
*.swp
*.tmp

Old_Experimental_files/
search_tavily.ipynb
qdrant.py
Law_Bare_Acts_Json/