beautifulsoup4==4.13.4
chromadb
fastapi==0.111.0
httpx
langchain
langchain-community
langchain-core
langchain-mistralai
langchain-tavily
langgraph
mistralai==1.9.1
pandas==2.2.2
PyPDF2==3.0.1
python-dotenv==1.1.1
requests==2.32.4
streamlit==1.35.0
tavily-python==0.3.0
uvicorn==0.29.0
urllib3==2.2.1
langchain_chroma 